<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vista_Bancos.Properties.Settings.ConnectionString"
            connectionString="Dsn=colchoneria;uid=administrador" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>